#modules_table_filter {
  display: none; }

.navbar-nav.ml-auto {
  display: none; }

.search-box-wrap i {
  position: absolute;
  z-index: 99;
  transform: translateY(-50%);
  top: 50%;
  left: 30px;
  font-size: 20px; }

#search-box {
  border-radius: 50px !important;
  padding: 20px 0 20px 70px; }
